src/conf/xml-resources/web-service-references/payment-service/wsdl/196.6.103.10_9092/merchantpay/payment-service.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://ws.merchantpay.nibss.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.merchantpay.nibss.com/">

<xs:element name="Payment" type="tns:Payment"></xs:element>

<xs:element name="PaymentDetail" type="tns:PaymentDetail"></xs:element>

<xs:element name="PaymentDetailResponse" type="tns:PaymentDetailResponse"></xs:element>

<xs:element name="PaymentResponse" type="tns:PaymentResponse"></xs:element>

<xs:element name="Pre-Payment" type="tns:Pre-Payment"></xs:element>

<xs:element name="Pre-PaymentResponse" type="tns:Pre-PaymentResponse"></xs:element>

<xs:element name="TransactionStatus" type="tns:TransactionStatus"></xs:element>

<xs:element name="TransactionStatusResponse" type="tns:TransactionStatusResponse"></xs:element>

<xs:complexType name="Payment">
<xs:sequence>
<xs:element name="payload" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PaymentResponse">
<xs:sequence>
<xs:element name="payload" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PaymentDetail">
<xs:sequence>
<xs:element name="payload" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PaymentDetailResponse">
<xs:sequence>
<xs:element name="payload" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TransactionStatus">
<xs:sequence>
<xs:element name="payload" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TransactionStatusResponse">
<xs:sequence>
<xs:element name="payload" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Pre-Payment">
<xs:sequence>
<xs:element name="payload" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Pre-PaymentResponse">
<xs:sequence>
<xs:element name="payload" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>