src/conf/xml-resources/web-service-references/NIBBSNIPInterface/wsdl/tm-db_22000/NambuitChannels/NIBBSNIPInterface.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.nibbsnip/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.nibbsnip/" name="NIBBSNIPInterface">
<types>
<xsd:schema>
<xsd:import namespace="http://service.nibbsnip/" schemaLocation="http://tm-db:22000/NambuitChannels/NIBBSNIPInterface?xsd=1"/>
</xsd:schema>
</types>
<message name="PGPEncryption">
<part name="parameters" element="tns:PGPEncryption"/>
</message>
<message name="PGPEncryptionResponse">
<part name="parameters" element="tns:PGPEncryptionResponse"/>
</message>
<message name="accountunblock">
<part name="parameters" element="tns:accountunblock"/>
</message>
<message name="accountunblockResponse">
<part name="parameters" element="tns:accountunblockResponse"/>
</message>
<message name="balanceenquiry">
<part name="parameters" element="tns:balanceenquiry"/>
</message>
<message name="balanceenquiryResponse">
<part name="parameters" element="tns:balanceenquiryResponse"/>
</message>
<message name="accountblock">
<part name="parameters" element="tns:accountblock"/>
</message>
<message name="accountblockResponse">
<part name="parameters" element="tns:accountblockResponse"/>
</message>
<message name="amountunblock">
<part name="parameters" element="tns:amountunblock"/>
</message>
<message name="amountunblockResponse">
<part name="parameters" element="tns:amountunblockResponse"/>
</message>
<message name="amountblock">
<part name="parameters" element="tns:amountblock"/>
</message>
<message name="amountblockResponse">
<part name="parameters" element="tns:amountblockResponse"/>
</message>
<message name="mandateadvice">
<part name="parameters" element="tns:mandateadvice"/>
</message>
<message name="mandateadviceResponse">
<part name="parameters" element="tns:mandateadviceResponse"/>
</message>
<message name="fundtransferAdvice_dd">
<part name="parameters" element="tns:fundtransferAdvice_dd"/>
</message>
<message name="fundtransferAdvice_ddResponse">
<part name="parameters" element="tns:fundtransferAdvice_ddResponse"/>
</message>
<message name="financialinstitutionlist">
<part name="parameters" element="tns:financialinstitutionlist"/>
</message>
<message name="financialinstitutionlistResponse">
<part name="parameters" element="tns:financialinstitutionlistResponse"/>
</message>
<message name="fundtransfersingleitem_dd">
<part name="parameters" element="tns:fundtransfersingleitem_dd"/>
</message>
<message name="fundtransfersingleitem_ddResponse">
<part name="parameters" element="tns:fundtransfersingleitem_ddResponse"/>
</message>
<message name="fundtransfersingleitem_dc">
<part name="parameters" element="tns:fundtransfersingleitem_dc"/>
</message>
<message name="fundtransfersingleitem_dcResponse">
<part name="parameters" element="tns:fundtransfersingleitem_dcResponse"/>
</message>
<message name="nameenquirysingleitem">
<part name="parameters" element="tns:nameenquirysingleitem"/>
</message>
<message name="nameenquirysingleitemResponse">
<part name="parameters" element="tns:nameenquirysingleitemResponse"/>
</message>
<message name="fundtransferAdvice_dc">
<part name="parameters" element="tns:fundtransferAdvice_dc"/>
</message>
<message name="fundtransferAdvice_dcResponse">
<part name="parameters" element="tns:fundtransferAdvice_dcResponse"/>
</message>
<portType name="NIBBSNIPInterface">
<operation name="PGPEncryption">
<input wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/PGPEncryptionRequest" message="tns:PGPEncryption"/>
<output wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/PGPEncryptionResponse" message="tns:PGPEncryptionResponse"/>
</operation>
<operation name="accountunblock">
<input wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/accountunblockRequest" message="tns:accountunblock"/>
<output wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/accountunblockResponse" message="tns:accountunblockResponse"/>
</operation>
<operation name="balanceenquiry">
<input wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/balanceenquiryRequest" message="tns:balanceenquiry"/>
<output wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/balanceenquiryResponse" message="tns:balanceenquiryResponse"/>
</operation>
<operation name="accountblock">
<input wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/accountblockRequest" message="tns:accountblock"/>
<output wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/accountblockResponse" message="tns:accountblockResponse"/>
</operation>
<operation name="amountunblock">
<input wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/amountunblockRequest" message="tns:amountunblock"/>
<output wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/amountunblockResponse" message="tns:amountunblockResponse"/>
</operation>
<operation name="amountblock">
<input wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/amountblockRequest" message="tns:amountblock"/>
<output wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/amountblockResponse" message="tns:amountblockResponse"/>
</operation>
<operation name="mandateadvice">
<input wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/mandateadviceRequest" message="tns:mandateadvice"/>
<output wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/mandateadviceResponse" message="tns:mandateadviceResponse"/>
</operation>
<operation name="fundtransferAdvice_dd">
<input wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/fundtransferAdvice_ddRequest" message="tns:fundtransferAdvice_dd"/>
<output wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/fundtransferAdvice_ddResponse" message="tns:fundtransferAdvice_ddResponse"/>
</operation>
<operation name="financialinstitutionlist">
<input wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/financialinstitutionlistRequest" message="tns:financialinstitutionlist"/>
<output wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/financialinstitutionlistResponse" message="tns:financialinstitutionlistResponse"/>
</operation>
<operation name="fundtransfersingleitem_dd">
<input wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/fundtransfersingleitem_ddRequest" message="tns:fundtransfersingleitem_dd"/>
<output wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/fundtransfersingleitem_ddResponse" message="tns:fundtransfersingleitem_ddResponse"/>
</operation>
<operation name="fundtransfersingleitem_dc">
<input wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/fundtransfersingleitem_dcRequest" message="tns:fundtransfersingleitem_dc"/>
<output wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/fundtransfersingleitem_dcResponse" message="tns:fundtransfersingleitem_dcResponse"/>
</operation>
<operation name="nameenquirysingleitem">
<input wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/nameenquirysingleitemRequest" message="tns:nameenquirysingleitem"/>
<output wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/nameenquirysingleitemResponse" message="tns:nameenquirysingleitemResponse"/>
</operation>
<operation name="fundtransferAdvice_dc">
<input wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/fundtransferAdvice_dcRequest" message="tns:fundtransferAdvice_dc"/>
<output wsam:Action="http://service.nibbsnip/NIBBSNIPInterface/fundtransferAdvice_dcResponse" message="tns:fundtransferAdvice_dcResponse"/>
</operation>
</portType>
<binding name="NIBBSNIPInterfacePortBinding" type="tns:NIBBSNIPInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="PGPEncryption">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="accountunblock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="balanceenquiry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="accountblock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="amountunblock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="amountblock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mandateadvice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fundtransferAdvice_dd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="financialinstitutionlist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fundtransfersingleitem_dd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fundtransfersingleitem_dc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nameenquirysingleitem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fundtransferAdvice_dc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NIBBSNIPInterface">
<port name="NIBBSNIPInterfacePort" binding="tns:NIBBSNIPInterfacePortBinding">
<soap:address location="http://tm-db:22000/NambuitChannels/NIBBSNIPInterface"/>
</port>
</service>
</definitions>