src/conf/xml-resources/web-service-references/merchant-enrollment_2/wsdl/196.6.103.10_8564/merchantpay/merchant-enrollment.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://ws.merchantpay.nibss.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.merchantpay.nibss.com/">

<xs:element name="MerchantEnrollment" type="tns:MerchantEnrollment"></xs:element>

<xs:element name="MerchantEnrollmentResponse" type="tns:MerchantEnrollmentResponse"></xs:element>

<xs:element name="MerchantNameEnquiry" type="tns:MerchantNameEnquiry"></xs:element>

<xs:element name="MerchantNameEnquiryResponse" type="tns:MerchantNameEnquiryResponse"></xs:element>

<xs:complexType name="MerchantNameEnquiry">
<xs:sequence>
<xs:element name="payload" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MerchantNameEnquiryResponse">
<xs:sequence>
<xs:element name="payload" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MerchantEnrollment">
<xs:sequence>
<xs:element name="payload" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MerchantEnrollmentResponse">
<xs:sequence>
<xs:element name="payload" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>