web/WEB-INF/wsdl/196.6.103.10_9092/merchantpay/payment-service.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.merchantpay.nibss.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.merchantpay.nibss.com/" name="payment-service">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.merchantpay.nibss.com/" schemaLocation="http://196.6.103.10:9092/merchantpay/payment-service?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="TransactionStatus">
<part name="parameters" element="tns:TransactionStatus"></part>
</message>
<message name="TransactionStatusResponse">
<part name="parameters" element="tns:TransactionStatusResponse"></part>
</message>
<message name="PaymentDetail">
<part name="parameters" element="tns:PaymentDetail"></part>
</message>
<message name="PaymentDetailResponse">
<part name="parameters" element="tns:PaymentDetailResponse"></part>
</message>
<message name="Payment">
<part name="parameters" element="tns:Payment"></part>
</message>
<message name="PaymentResponse">
<part name="parameters" element="tns:PaymentResponse"></part>
</message>
<message name="Pre-Payment">
<part name="parameters" element="tns:Pre-Payment"></part>
</message>
<message name="Pre-PaymentResponse">
<part name="parameters" element="tns:Pre-PaymentResponse"></part>
</message>
<portType name="PaymentWebService">
<operation name="TransactionStatus">
<input wsam:Action="http://ws.merchantpay.nibss.com/PaymentWebService/TransactionStatusRequest" message="tns:TransactionStatus"></input>
<output wsam:Action="http://ws.merchantpay.nibss.com/PaymentWebService/TransactionStatusResponse" message="tns:TransactionStatusResponse"></output>
</operation>
<operation name="PaymentDetail">
<input wsam:Action="http://ws.merchantpay.nibss.com/PaymentWebService/PaymentDetailRequest" message="tns:PaymentDetail"></input>
<output wsam:Action="http://ws.merchantpay.nibss.com/PaymentWebService/PaymentDetailResponse" message="tns:PaymentDetailResponse"></output>
</operation>
<operation name="Payment">
<input wsam:Action="http://ws.merchantpay.nibss.com/PaymentWebService/PaymentRequest" message="tns:Payment"></input>
<output wsam:Action="http://ws.merchantpay.nibss.com/PaymentWebService/PaymentResponse" message="tns:PaymentResponse"></output>
</operation>
<operation name="Pre-Payment">
<input wsam:Action="http://ws.merchantpay.nibss.com/PaymentWebService/Pre-PaymentRequest" message="tns:Pre-Payment"></input>
<output wsam:Action="http://ws.merchantpay.nibss.com/PaymentWebService/Pre-PaymentResponse" message="tns:Pre-PaymentResponse"></output>
</operation>
</portType>
<binding name="PaymentWebServicePortBinding" type="tns:PaymentWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="TransactionStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="PaymentDetail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="Payment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="Pre-Payment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="payment-service">
<port name="PaymentWebServicePort" binding="tns:PaymentWebServicePortBinding">
<soap:address location="http://196.6.103.10:9092/merchantpay/payment-service"></soap:address>
</port>
</service>
</definitions>